*{
    padding: 0%;
    margin: 0%;
}

body {
    background: rgb(238, 167, 110);
    ;
}
h1{
    text-align: center;
}

tr{
    text-align: center;
}
table {
    width: 50% !important;
    margin: auto;
    margin-top: 50px;
    font-size: 20px;
    color: white;
}

.vermelho{
    background-color:tan;
}
.azul{
    background-color:rgb(117, 45, 17);
}

th{
    color: black;
}
